.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 400;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--tertiary);
    border-radius: var(--radius-sm);
    transition: transform 0.1s;
    font-size: var(--homesize);
}

.terms-tags a:hover {
    background: var(--lightcolor);
}

